---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Prices from '~/components/widgets/Pricing.astro'
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'MaxPower Coaching — Because your training plan can\'t talk to you.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get started',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:mail-filled',
      },
    ]}
    image={{ src: '~/assets/images/mp.png', alt: 'MaxPower Coaching Logo' }}
  >
    <Fragment slot="title">
      
      <span class="text-accent highlight">Train with a coach, because your training plan can't talk to you.</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Max Power Coaching</span> is a one-on-one coaching service, specializing in endurance training, primarily road racing and cyclocross.
        </span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="principles"
    tagline="Why Train with Us?"
    title="Our Training Principles"
    subtitle="Building your aerobic engine is the basis for success in all endurance sports.  Our principles are based upon the idea that we can build your aerobic engine using modern technology, testing and science while also adhereing to the longstanding methods proven by success."
    items={[
      {
        title: 'Aerobic Endurance Matters',
        description:
          'Building a robust and resiliant aerobic engine is the backbone of a successful training strategy, staying \'in balance\' is key to long term progress.',
        icon: 'tabler:lungs',
      },
      {
        title: 'Aerobic Capacity Matters',
        description:
          'Races are rarely won on endurance alone, achieving a high aerobic work capacity is crucial for putting your race tactics into practice.',
        icon: 'tabler:bolt',
      },
      {
        title: 'Individuals need individualized training zones',
        description:
          'Zones based off of \'threshold\' aren\'t good enough for serious athletes who wish to achieve their true potential.  Training at personalized intensities is necessary to maximize your success.',
        icon: 'tabler:user-heart',
      },
      {
        title: 'Consistency is paramount',
        description:
          'Long-term success requires long-term consistency.  Training must be sustainable both mentally and physically in order to reach you potential over the long-term.',
        icon: 'tabler:calendar-repeat',
      },
      {
        title: 'Training should be fun',
        description:
          'Chances are you are training and racing as a hobby or past-time.  It\'s possible to achieve your potential while also having fun, training doesn\'t always need to be super serious.',
        icon: 'tabler:mood-happy',
      },
      {
        title: 'Don\'t reinvent the wheel',
        description:
          'Endurance training has been around for decades, let\'s build upon the large history of successful training techniques and enhance it with modern technology and approaches.',
        icon: 'tabler:bike',
      },

    ]}
  />

  <!-- Pricing Widget ******************* -->

   <Prices
   id="services"
   title="Coaching Services"
   subtitle="Flexible monthly plans."
   prices={[
     {
       title: 'basic',
       subtitle: 'Looking for your first coach?',
       price: 75,
       period: 'per month',
       items: [
         {
           description: 'Initial consultation and review of past training',
         },
         {
           description: 'Fitness assessment with power/HR data'
         },
         {
           description: 'Weekly training plan adjustments',
         },
         {
           description: 'Weekly training review - Email',
         },
       ],
       callToAction: {
         target: '_blank',
         text: 'Get started',
         href: '#',
       },
     },
     {
       title: 'standard',
       subtitle: 'Best Value',
       price: 100,
       period: 'Per Month',
       items: [
         {
           description: 'Initial consultation and review of past training',
         },
         {
           description: 'One free PowerTune fitness assessment and report',
         },
         {
           description: 'Discounted rate on future PowerTune assessments and reports'
         },
         {
           description: 'Daily training plan adjustments',
         },
         {
           description: 'Weekly training plan instructions - Email'
         },   
         {
           description: 'Weekly training plan review'
         },
         {
           description: 'Weekly emails to address questions',
         },
         {
           description: 'Annual review - 1hr consultation',
         },
       ],
       callToAction: {
         target: '_blank',
         text: 'Get started',
         href: '#',
       },
       hasRibbon: true,
       ribbonTitle: 'popular',
     },
     {
       title: 'premium',
       subtitle: 'Take your training to the next level',
       price: 200,
       period: 'Per Month',
       items: [
       {
           description: 'Initial consultation and review of past training',
         },
         {
           description: 'Unlimited free PowerTune fitness assessments and reports',
         },
         {
           description: 'Quarterly Moxy muscle oxygenation testing'
         },
         {
           description: 'Daily training plan adjustments',
         },
         {
           description: 'Daily training execution review'
         },
         {
           description: 'Unlimited emails/texts to address questions',
         },
         {
           description: 'Monthly reviews - 1hr consultation',
         },
       ],
       callToAction: {
         target: '_blank',
         text: 'Get started',
         href: '#',
       },
     },
   ]}
 />


  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the Max Power Coaching."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Is your name really Max Power?',
        description:
          "No.",
      },
      {
        title: 'What are your credentials?',
        description:
          'I\'m a USA Cycling licensed coach, with SafeSport certification. I\'ve raced bikes competitvely for many years now and coached athletes to multiple state championships across multiple disciplines.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
