---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import Prices from '~/components/widgets/Pricing.astro'
import FAQs from '~/components/widgets/FAQs.astro';

import podium from '~/assets/images/freedomrun.jpg'

const metadata = {
  title: 'MaxPower Coaching — Because your training plan can\'t talk to you.',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Get started',
        href: 'mailto:andy@maxpower.coach',
        target: '_blank',
        icon: 'tabler:mail-filled',
      },
    ]}
    image={{ src: '~/assets/images/mp.png', alt: 'MaxPower Coaching Logo' }}
  >
    <Fragment slot="title">
      
      <span class="text-accent highlight">Train with a coach, because your training plan can't talk to you.</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Max Power Coaching</span> is a one-on-one coaching service, specializing in endurance training, primarily road racing and cyclocross.
        </span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="principles"
    tagline="Why Train with Us?"
    title="Our Training Principles"
    subtitle="Building your aerobic engine is the basis for success in all endurance sports.  Our principles are based upon the idea that we can build your aerobic engine using modern technology, testing and science while also adhering to the longstanding methods proven by success."
    items={[
      {
        title: 'Aerobic Endurance Matters',
        description:
          'Building a robust and resilient aerobic engine is the backbone of a successful training strategy. Staying \'in balance\' is key to long term progress.',
        icon: 'tabler:lungs',
      },
      {
        title: 'Aerobic Capacity Matters',
        description:
          'Races are rarely won on endurance alone, achieving a high aerobic work capacity is crucial for putting your race tactics into practice.',
        icon: 'tabler:bolt',
      },
      {
        title: 'Individuals need individualized training zones',
        description:
          'Zones based off a percentage of \'threshold\' aren\'t good enough for serious athletes who wish to achieve their true potential.  Personalized zones based on your individual physiology are necessary to maximize your success.',
        icon: 'tabler:user-heart',
      },
      {
        title: 'Consistency is paramount',
        description:
          'Long-term success requires long-term consistency.  Training must be sustainable both mentally and physically in order to reach your potential over the long-term.',
        icon: 'tabler:calendar-repeat',
      },
      {
        title: 'Training should be fun',
        description:
          'You probably train and race as a hobby.  It\'s possible to achieve your potential while also having fun, training doesn\'t always need to be super serious.',
        icon: 'tabler:mood-happy',
      },
      {
        title: 'Don\'t reinvent the wheel',
        description:
          'Endurance training has been around for decades, let\'s build upon the large history of successful training techniques and enhance it with modern technology and approaches.',
        icon: 'tabler:bike',
      },

    ]}
  />

  <!-- Pricing Widget ******************* -->

   <Prices
   id="services"
   title="Coaching Services"
   subtitle="Flexible monthly plans."
   prices={[
     {
       title: 'basic',
       subtitle: 'Looking for your first coach?',
       price: 75,
       period: 'per month',
       items: [
         {
           description: 'Initial consultation and review of past training',
         },
         {
           description: 'Fitness assessment with power/HR data'
         },
         {
           description: 'Weekly training plan adjustments',
         },
         {
           description: 'Weekly training review',
         },
       ],
       callToAction: {
         target: '_blank',
         text: 'Get started',
         href: 'mailto:andy@maxpower.coach',
       },
     },
     {
       title: 'standard',
       subtitle: 'Best Value',
       price: 100,
       period: 'Per Month',
       items: [
         {
           description: 'Initial consultation and review of past training',
         },
         {
           description: 'One free PowerTune fitness assessment and report',
         },
         {
           description: 'Discounted rate on future PowerTune assessments and reports'
         },
         {
           description: 'Daily training plan adjustments',
         },
         {
           description: 'Weekly training plan instructions'
         },   
         {
           description: 'Weekly training plan review'
         },
         {
           description: 'Weekly emails to address questions',
         },
         {
           description: 'Annual review - 1hr consultation',
         },
       ],
       callToAction: {
         target: '_blank',
         text: 'Get started',
         href: 'mailto:andy@maxpower.coach',
       },
       hasRibbon: true,
       ribbonTitle: 'popular',
     },
     {
       title: 'premium',
       subtitle: 'Take your training to the next level',
       price: 200,
       period: 'Per Month',
       items: [
       {
           description: 'Initial consultation and review of past training',
         },
         {
           description: 'Unlimited PowerTune fitness assessments and reports',
         },
         {
           description: 'Quarterly Moxy muscle oxygenation testing'
         },
         {
           description: 'Daily training plan adjustments',
         },
         {
           description: 'Daily training execution review'
         },
         {
           description: 'Unlimited emails/texts to address questions',
         },
         {
           description: 'Monthly reviews - 1hr consultation',
         },
       ],
       callToAction: {
         target: '_blank',
         text: 'Get started',
         href: 'mailto:andy@maxpower.coach',
       },
     },
   ]}
 />

 <Content
 title="About Us"
 id="about"
 subtitle="MaxPower Coaching was started by Andy Ruestow to help cyclists reach their potential with a fun, effective and science-based approach."
 isReversed
 items={[
   {
     title: 'About Andy:',
     icon: 'tabler:mood-smile',
     description:
       'Andy is a cycling coach and masters cyclist competing with the MagicShine/Nalgene Cycling team based out of Rochester, NY.  He has a full-time job and family so he understands the unique constraints placed upon masters cyclists.  Andy is passionate about helping serious athletes achieve their true potential.',
   },
   {
     title: 'About Max Power Coaching:',
     icon: 'tabler:bolt',
     description: `The goal of Max Power Coaching is to help athletes achieve their potential, to spread awareness of quality sustainable training practices and to encourage people to have fun.`,
   },
 ]}
 image={{
   src: podium,
   alt: 'Podium picture',
 }}
>
 <Fragment slot="content">
   <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
     Max Power Coaching: <br /><span class="text-2xl">Because your training plan can't talk to you.</span>
   </h3>
 </Fragment>

 <Fragment slot="bg">
   <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
 </Fragment>
</Content>

 
 <!-- Contact -->
 <Steps2
 id="contact"
 title="Ready to get fast?"
 subtitle="Have questions? Feel free to contact us. We're here to help!"

 items={[
   {
     title: 'Email me',
     description: '<a href="mailto:andy@maxpower.coach">andy@maxpower.coach</a>',
     icon: 'tabler:mail',
   },
   {
     title: 'Follow us',
     description: '<a href="https://www.instagram.com/maxpower.coaching" target="_blank">@maxpower.coaching</a>',
     icon: 'tabler:brand-instagram',
   },
 ]}
/>


  <!-- FAQs Widget ******************* -->

  <FAQs
    id="faq"
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the Max Power Coaching."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Is your name really Max Power?',
        description:
          "No.",
      },
      {
        title: 'What are your credentials?',
        description:
          'I\'m a USA Cycling licensed coach, with SafeSport certification. I\'ve raced bikes competitively for many years now and coached athletes to multiple state championships across various disciplines.',
      },
      {
        title: 'Is there a minimum term?',
        description:
          'The most successful athlete/coach relationships are the one\'s that span multiple seasons, however if there isn\'t a good fit there is no obligation beyond the current month.  I want athlete\'s to find the coach who can bring them the most success, I hope that\'s me, but if it\'s not, no hard feelings.'
      }
    ]}
  />
</Layout>
